$image-size: 50% !important;
$image-margin-bottom: 2rem;
$image-margin-side: 3rem;


img.float-left {
    float: left;
    height: auto;
    margin: 0 $image-margin-side $image-margin-bottom 0;
    max-width: $image-size;
}

img.float-right {
    float: right;
    height: auto;
    margin: 0 0 $image-margin-bottom $image-margin-side;
    max-width: $image-size;
}
